@charset "UTF-8";

/* section01 */
#section01{ border-bottom: 1px solid #e5e5e5; background-color: #f3f3f3;}
#section01 .section01{position: relative;}
#section01 .visualWrap .imgWrap img{display: block; width: 100%;}
#section01 .control{position: absolute; width: 100%; height: 57px; top: 50%; transform: translateY(-50%);} 
#section01 .control .prev{position: absolute; left: -25px;}
#section01 .control .next{position: absolute; right: -25px;}
#section01 .control img{display: block;}   
#section01 .visualWrap .imgWrap .mobile{display: none;}
#section01 .slideBtn{position: absolute; width: 100%; bottom: 45px; left: 50%; transform: translateX(-50%); display: flex; justify-content: center; flex-wrap: wrap; gap: 0 18px;}
#section01 .slideBtn li a{display: block; padding: 4px 24px; font-weight: 700; font-size: 14px; color: #fff; border-radius: 5px; background-color: #c3c3c3;}
#section01 .slideBtn li a.active{background-color: #242424;}

@media (max-width: 1380px){

    #section01 .control .prev{position: absolute; left: 0;}
    #section01 .control .next{position: absolute; right: 0;}

}

@media (max-width: 1320px){

    #section01 .control{ top:20vw; transform: none;}
    #section01 .control img{width: 2.50vw;}
    #section01 .slideBtn{bottom: 3.41vw; gap: 0 1.36vw;}
    #section01 .slideBtn li a{padding: 0.30vw 1.82vw; font-size: 1.06vw; border-radius: 0.38vw; }

}

@media (max-width: 1024px){

    #section01 .control{display: none;}

    #section01 .slideBtn li a{padding: 0.5vw 1.35vw 0.4vw; font-size: 1.2vw;}

}

@media (max-width: 640px){

    #section01 .visualWrap .imgWrap .pc{display: none;}
    #section01 .visualWrap .imgWrap .mobile{display: block;}

    #section01 .slideBtn{bottom: 5.31vw; gap:2.19vw 2.66vw;}
    #section01 .slideBtn li{width: 31.2%;}
    #section01 .slideBtn li a{text-align: center; font-size: 2.12vw;}

}

/* section02 */
#section02{padding: 1.82vw 0 3.2vw;}
#section02 .infoImg{display: flex; gap: 0 0.83vw; justify-content: center;}
#section02 .infoImg li img{display: block; width: 100%;}

@media (max-width: 640px){

    #section02{padding: 1.82vw 0 12vw;}
    #section02 .infoImg{flex-direction: column; gap: 9px}

}

/* section03 */
#section03{padding: 0 0 107px;}
#section03 .productWrap{margin-bottom: 74px;}
#section03 .productWrap:last-child{margin-bottom: 0;}
#section03 .productWrap .view{display: none; position: relative;padding: 5px 0; margin: 35px auto 0; width: 153px; height: 31px; border: 2px solid #000; font-size: 13px; color: #000; border-radius: 50px; text-align: center;}
#section03 .productWrap .view::after{content: ''; position: absolute; top:11px; right:25px; width: 9px; height: 5px; background: url(../images/main/arrow.png)no-repeat;}
#section03 .productList{display: flex; flex-wrap: wrap; gap: 60px 2%;}
#section03 .productList li{width: 18.37%;}
#section03 .productList li a:hover img{transform: translate(-50%, -50%) scale(1.1);}
#section03 .productList li a:hover .text{text-decoration: underline;}
#section03 .productList li .box{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#section03 .productList li .imgWrap{position: relative; margin-bottom: 12px; height: 235px; border: 1px solid #cecece; overflow: hidden;}
#section03 .productList li .imgWrap img{max-width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0 auto; transition: all .3s;} 
#section03 .productList li .textWrap .text{margin-bottom: 14px; font-size: 17px; color: #000; line-height: 1.2; font-weight: 300; display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;
    height: 40px; line-height: 20px; overflow: hidden; text-overflow: ellipsis;} 
#section03 .productList li .textWrap .priceWrap{/*display: flex; gap: 0 10px;*/ align-items: center; line-height: 1;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#section03 .productList li .textWrap .priceWrap span{margin-right: 10px;}
#section03 .productList li .textWrap .priceWrap .discount01{font-weight: 800; font-size: 17px; color: #a10101;}
#section03 .productList li .textWrap .priceWrap .discount02{font-weight: 300; color: #000; text-decoration:line-through;}
#section03 .productList li .textWrap .priceWrap .price{font-weight: 300; color: #000; font-size: 17px;}
#section03 .productList li .textWrap .priceWrap .price strong{font-weight: 800;}

@media (max-width: 1024px){

    #section03{padding: 0 0 74px;}
    #section03 .productList{gap: 70px 2%;}
    #section03 .productList li{width: 32%;}
    #section03 .productList li .textWrap .priceWrap span{font-size: 21px!important;}
    #section03 .productList li .textWrap .text{height: 46px; line-height: 24px; font-size: 21px;}

}

@media (max-width: 768px){

    #section03 .productWrap .view{display: block;}
    #section03 .productList{gap: 70px 4.26%;}
    #section03 .productList li{width: 47.87%;}
    #section03 .productWrap li:nth-child(n + 5){display: none;}

}

@media (max-width: 640px){

    #section03 .productList{gap: 10.94vw 4.26%;}

}

@media (max-width: 480px){

    #section03 .productList li .textWrap .text{height: 40px; line-height: 20px; font-size: 16px;}
    #section03 .productList li .textWrap .priceWrap span{font-size: 16px!important;}

}

@media (max-width: 414px){

    #section03 .productList{gap: 36px 4.26%;}
    #section03 .productList li{width: 100%;}
    #section03 .productList li .textWrap .text{height: auto;}

}

/* 관심상품 */
.interestBox .tableWrapSt01 tbody tr td{padding: 9px 15px;}
